<!DOCTYPE html>
<html>
<head>
    <title>系统首页</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/fonts/iconfont/iconfont.css">
</head>
<body style="background-color: transparent;padding: 5px 5px 0 5px;">

<section class="dc-home" id="app" v-cloak>
    <!--module one-->
    <div class="module-one">
        <el-row>
            <el-col :span="17">
                <div class="module-tit">
                    <i class="iconfont icon-Shape"></i><span>待办事项</span>
                </div>
                <el-table
                        :data="tableData"
                        style="width: 100%;text-align: center;"
                        border="true"
                        height="141"
                        stripe>
                    <el-table-column
                            type="index"
                            label="序号"
                            width="50">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="消息标题"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="address"
                            label="消息提示">
                    </el-table-column>
                    <el-table-column
                            prop="time"
                            label="发送时间">
                    </el-table-column>
                    <el-table-column
                            prop="company"
                            label="发送单位">
                    </el-table-column>
                    <el-table-column
                            prop="sender"
                            label="发送人">
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            label="操作"
                            width="100">
                        <template slot-scope="scope">
                            <el-button type="primary" size="small" @click="handleClick(scope.row)">处置</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
            <el-col :span="7" style="padding-left:5px;">
                <div class="module-tit">
                    <i class="iconfont icon-xiaoyuangonggao1"></i><span>通知公告</span>
                </div>
                <div class="module-notice">
                    <div v-for="o in 4" :key="o" class="notice-item">
                        <a href="javascript:;" :class=" o==4 ? 'module-border-none' : '' ">
                            <span>{{'市安监局交流十九大报告学习体会' + o }}</span>
                            <span>2018-04-09</span>
                        </a>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>
    <!--module two-->
    <div class="module-two">
        <div class="module-tit">
            <i class="iconfont icon-tongji"></i><span>今日实时统计</span>
        </div>
        <div class="count-button">
            <el-button class="this">新增检查计划</el-button>
            <el-button>制定检查方案</el-button>
            <el-button>企业执法检查</el-button>
            <el-button>执法检查问题</el-button>
            <el-button>文书制作</el-button>
            <el-button>行政处罚</el-button>
            <el-button>结案</el-button>
            <el-button>电子卷宗制作</el-button>
        </div>
        <el-row>
            <el-col :span="17">

                <div class="home-form">
                    <el-form :inline="true" :model="formInline" class="demo-form-inline" size="mini">
                        <el-form-item label="时间范围">
                            <el-col :span="11">
                                <el-form-item prop="date1">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="formInline.date1" style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line text-center" :span="2">-</el-col>
                            <el-col :span="11">
                                <el-form-item prop="date2">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="formInline.date2" style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="search">查询</el-button>
                        </el-form-item>
                    </el-form>
                    <p>江苏省今日文书总数：<span>622</span>（件）</p>
                </div>
                <div id="province-echarts" style="height: 300px"></div>
            </el-col>
            <el-col :span="7">
                <div class="count-city">
                    <span>南京市</span>
                    <small>新增检查计划数共：47</small>
                </div>
                <div id="city-echarts"></div>
            </el-col>
        </el-row>

    </div>
    <!--module three-->
    <div class="module-three">
        <div class="module-tit">
            <i class="iconfont icon-dabingtu"></i><span>检查来源分析研判</span>
        </div>
        <el-row>
            <el-col :span="12">
                <div class="home-form">
                    <el-form :inline="true" :model="formInline" class="demo-form-inline" size="mini">
                        <el-form-item label="时间范围">
                            <el-col :span="11">
                                <el-form-item prop="date1">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="formInline.date1" style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line text-center" :span="2">-</el-col>
                            <el-col :span="11">
                                <el-form-item prop="date2">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="formInline.date2" style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="search">查询</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <div id="judge-echarts" style="height: 350px;"></div>
            </el-col>
            <el-col :span="12" class="table_wrap">
                <table class="table" width="800" cellspacing="0" cellpadding="0">
                    <tr>
                        <th colspan="6">江苏省检查计划总数：<span>52</span>（件）</th>
                    </tr>
                    <tr>
                        <td>南京市</td>
                        <td>
                            <a href="javascript:;">12</a>
                        </td>
                        <td>无锡市</td>
                        <td><a href="javascript:;">20</a></td>
                        <td>徐州市</td>
                        <td><a href="javascript:;">13</a></td>
                    </tr>
                    <tr>
                        <td>常州市</td>
                        <td><a href="javascript:;">13</a></td>
                        <td>苏州市</td>
                        <td><a href="javascript:;">6</a></td>
                        <td>南通市</td>
                        <td><a href="javascript:;">12</a></td>
                    </tr>
                    <tr>
                        <td>连云港市</td>
                        <td><a href="javascript:;">12</a></td>
                        <td>淮安市</td>
                        <td><a href="javascript:;">14</a></td>
                        <td>盐城市</td>
                        <td><a href="javascript:;">22</a></td>
                    </tr>
                    <tr>
                        <td>扬州市</td>
                        <td><a href="javascript:;">7</a></td>
                        <td>镇江市</td>
                        <td><a href="javascript:;">9</a></td>
                        <td>泰州市</td>
                        <td><a href="javascript:;">12</a></td>
                        
                    </tr>
                    <tr>
                        <td>宿迁市</td>
                        <td><a href="javascript:;">3</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </el-col>
        </el-row>
    </div>
    <!--module four-->
    <div class="module-four">
        <div class="module-tit">
            <i class="iconfont icon-icon--"></i><span>移送案件统计</span>
        </div>
        <el-table
                class="dc-clearHover"
                :data="tableData2"
                style="width: 100%;text-align: center;"
                border="true"
                stripe>
            <el-table-column
                    fixed="left"
                    prop="type">
            </el-table-column>
            <el-table-column
                    prop="sum0"
                    label="南京市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum0}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum2"
                    label="无锡市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum2}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum3"
                    label="徐州市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum3}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum4"
                    label="常州市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum4}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum5"
                    label="苏州市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum5}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum6"
                    label="南通市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum6}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum7"
                    label="连云港市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum7}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum8"
                    label="淮安市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum8}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum9"
                    label="盐城市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum9}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum10"
                    label="扬州市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum10}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum11"
                    label="镇江市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum11}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum12"
                    label="泰州市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum12}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum13"
                    label="宿迁市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum13}}</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
    
    <div class="module-four">
        <div class="module-tit">
            <i class="iconfont icon-icon--"></i><span>销案案件统计</span>
        </div>
        <el-table
                class="dc-clearHover"
                :data="tableData22"
                style="width: 100%;text-align: center;"
                border="true"
                stripe>
            <el-table-column
                    fixed="left"
                    prop="type">
            </el-table-column>
            <el-table-column
                    prop="sum0"
                    label="南京市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum0}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum2"
                    label="无锡市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum2}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum3"
                    label="徐州市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum3}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum4"
                    label="常州市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum4}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum5"
                    label="苏州市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum5}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum6"
                    label="南通市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum6}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum7"
                    label="连云港市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum7}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum8"
                    label="淮安市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum8}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum9"
                    label="盐城市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum9}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum10"
                    label="扬州市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum10}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum11"
                    label="镇江市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum11}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum12"
                    label="泰州市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum12}}</el-button>
                </template>
            </el-table-column>
            <el-table-column
                    prop="sum13"
                    label="宿迁市">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text">
                        {{scope.row.sum13}}</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</section>

<script src="${request.contextPath}/statics/libs/echarts.common.min.js"></script>
<script src="${request.contextPath}/statics/js/man.js"></script>
<script>

</script>
</body>
</html>